api_secrets = {
    "paint_seed_api_key": "xxx"
}

db_secrets = {
    "dbname": "deagle",
    "user": "deagle",
    "password": "deagle",
    "host": "127.0.0.1",
    "port": "5432"
}

webshare_proxy_api_key = "xxx"
bot_token = "x:xxx"
chat_id = "-xxx"
